@font-face {
  font-family: MyriadPro-Light;
  src: url(../assets/fonts/MyriadPro-Light.otf);
}

@font-face {
  font-family: MyriadPro-Regular;
  src: url(../assets/fonts/MYRIADPRO-REGULAR.OTF);
}

@font-face {
  font-family: MyriadPro-Bold;
  src: url(../assets/fonts/MYRIADPRO-BOLD.OTF);
}

@font-face {
  font-family: CormorantGaramond-Light;
  src: url(../assets/fonts/CormorantGaramond-Light.ttf);
}
@font-face {
  font-family: CormorantGaramond-Regular;
  src: url(../assets/fonts/CormorantGaramond-Regular.ttf);
}
@font-face {
  font-family: CormorantGaramond-Bold;
  src: url(../assets/fonts/CormorantGaramond-Bold.ttf);
}
@font-face {
  font-family: CormorantGaramond-MediumItalic;
  src: url(../assets/fonts/CormorantGaramond-MediumItalic.ttf);
}
@font-face {
  font-family: Roboto-Light;
  src: url(../assets/fonts/Roboto-Light.ttf);
}
@font-face {
  font-family: Roboto-Medium;
  src: url(../assets/fonts/Roboto-Medium.ttf);
}
